@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.memberinfos{
    border-radius: 25px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
    width: 400px;
    height: 360px;
    transition: all 0.3s ease-in-out;
}

.memberinfos:hover{
    transform: scale(1.03);
}

img{
    width: 100%;
    height: 300px;
    border-radius: 25px 25px 0px 0px;
}

.name{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: -8px;
    width: 400px;
    height: 60px;
    border-radius: 0px 0px 25px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFA500;
}

