<div class="container-forgot">

  <div class="box-forgot">

    <h2>Réinitialiser le mot de passe</h2>
    <p class="subtitle">
      Entrez votre adresse email pour recevoir un lien de réinitialisation.
    </p>

    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">

      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        class="inputChamp"
        placeholder="votremail@gmail.com"
        [(ngModel)]="email"
        required
        #emailRef="ngModel"
      >
      <p *ngIf="emailRef.invalid && emailRef.touched" style="color:red; font-size:13px;">
                    ⚠️ Email invalide
                </p>

      <button class="send-btn" [disabled]="forgotForm.invalid" type="submit">
        Envoyer le lien
      </button>

      <!-- Message de succès -->
      <div class="message-container" *ngIf="successMessage">
          <div class="message message-success">
              {{ successMessage }}
          </div>
      </div>

      <!-- Message d'erreur -->
      <div class="message-container" *ngIf="errorMessage">
          <div class="message message-error">
              {{ errorMessage }}
          </div>
      </div>

    </form>

    <a routerLink="" class="back-link">← Retour à la connexion</a>

  </div>

</div>
