<div class="container-reset">
  <div class="box-reset">

    <h2>Créer un nouveau mot de passe</h2>
    <p class="subtitle">
      Entrez votre nouveau mot de passe ci-dessous.
    </p>

    <div *ngIf="message" class="message" [ngClass]="{ 'error': isError, 'success': !isError }">
      {{ message }}
    </div>

    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">

      <!-- Nouveau mot de passe -->
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>

        <div class="password-wrapper">
          <input
            id="password"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            class="inputChamp"
            [(ngModel)]="password"
            required
            #pwd="ngModel"
          >
          <span class="toggle-eye" (click)="showPassword = !showPassword">
            {{ showPassword ? '🔓' : '🔒' }}
          </span>
        </div>

        <p *ngIf="pwd.invalid && pwd.touched" style="color:red; font-size:13px;">
          ⚠️ Le mot de passe est requis
        </p>
      </div>

      <!-- Confirmer -->
      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe</label>

        <div class="password-wrapper">
          <input
            id="confirmPassword"
            name="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="inputChamp"
            [(ngModel)]="confirmPassword"
            required
            #conf="ngModel"
          >
          <span class="toggle-eye" (click)="showConfirmPassword = !showConfirmPassword">
            {{ showConfirmPassword ? '🔓' : '🔒' }}
          </span>
        </div>

        <p *ngIf="conf.invalid && conf.touched" style="color:red; font-size:13px;">
          ⚠️ Le mot de passe est requis
        </p>
      </div>

      <button class="send-btn" [disabled]="resetForm.invalid" type="submit">
        Réinitialiser
      </button>

    </form>

    <a routerLink="" class="back-link">← Retour à la connexion</a>

  </div>
</div>
